.bag-cover {
  background-image: url(./component/imago/IMG_20200920_144801.jpg);
  background-attachment: fixed;
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.detail-page {
  background-color: #eae6e6;
  background-attachment: fixed;
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
